## EODHD APIClient - Get List of Tickers

In [12]:
from eodhd import APIClient
import pandas as pd
import os

api_key = os.environ.get('EODHD_API_KEY')
api = APIClient(api_key)

nyse = api.get_list_of_tickers('NYSE')
nasdaq = api.get_list_of_tickers('NASDAQ')

tickers = pd.DataFrame(nyse + nasdaq)
tickers

,Code,Name,Country,Exchange,Currency,Type,Isin
0,A,Agilent Technologies Inc,USA,NYSE,USD,Common Stock,US00846U1016
1,AA,Alcoa Corp,USA,NYSE,USD,Common Stock,US0138721065
2,AAA,Listed Funds Trust - AAF First Priority CLO Bo...,USA,NYSE ARCA,USD,ETF,US53656F6566
3,AACT,Ares Acquisition Corporation II,USA,NYSE,USD,Common Stock,None
4,AACT-WT,Ares Acquisition Corporation II WT,USA,NYSE,USD,Common Stock,None
...,...,...,...,...,...,...,...
10872,ZWZZT,NASDAQ TEST STOCK,USA,NASDAQ,USD,Common Stock,None
10873,ZXZZT,NASDAQ TEST STOCK,USA,NASDAQ,USD,Common Stock,None
10874,ZYME,Zymeworks Inc. Common Stock,USA,NASDAQ,USD,Common Stock,CA98985W1023
10875,ZYXI,Zynex Inc,USA,NASDAQ,USD,Common Stock,US98986M1036
10876,ZZZ,Cyber Hornet S&P 500 and Bitcoin 75/25 Strateg...,USA,NASDAQ,USD,ETF,None

# Get Common Stock only

In [17]:
# get Common Stock only
stocks = tickers[(tickers['Type'] == 'Common Stock')]
stocks

,Code,Name,Country,Exchange,Currency,Type,Isin
0,A,Agilent Technologies Inc,USA,NYSE,USD,Common Stock,US00846U1016
1,AA,Alcoa Corp,USA,NYSE,USD,Common Stock,US0138721065
3,AACT,Ares Acquisition Corporation II,USA,NYSE,USD,Common Stock,None
4,AACT-WT,Ares Acquisition Corporation II WT,USA,NYSE,USD,Common Stock,None
5,AAM,AA Mission Acquisition Corp.,USA,NYSE,USD,Common Stock,None
...,...,...,...,...,...,...,...
10871,ZVZZT,NASDAQ TEST STOCK,USA,NASDAQ,USD,Common Stock,None
10872,ZWZZT,NASDAQ TEST STOCK,USA,NASDAQ,USD,Common Stock,None
10873,ZXZZT,NASDAQ TEST STOCK,USA,NASDAQ,USD,Common Stock,None
10874,ZYME,Zymeworks Inc. Common Stock,USA,NASDAQ,USD,Common Stock,CA98985W1023
10875,ZYXI,Zynex Inc,USA,NASDAQ,USD,Common Stock,US98986M1036

# Get EOD Historical Data

In [22]:
from datetime import datetime as dt
from dateutil.relativedelta import relativedelta

ticker = 'DRUG'
exchange = 'US'
symbol = f'{ticker}.{exchange}'

period = 'd' # 'd' for daily or 'w' for weekly or 'm' for monthly
order = 'a' # 'a' for ascending order or 'd' for descending order

from_date = (dt.now() - relativedelta(months=1)).strftime('%Y-%m-%d')
to_date = dt.now().strftime('%Y-%m-%d')

eod_hist = api.get_eod_historical_stock_market_data(
    symbol=symbol,
    period=period,
    order=order,
    from_date=from_date,
    to_date=to_date
)
eod_hist = pd.DataFrame(eod_hist)
eod_hist

,date,open,high,low,close,adjusted_close,volume
0,2024-09-23,1.24000000,1.24000000,1.18000000,1.19200000,1.19200000,10162
1,2024-09-24,1.18600000,1.24200000,1.18000000,1.20000000,1.20000000,1670
2,2024-09-25,1.23000000,1.24880000,1.18470000,1.18470000,1.18470000,3647
3,2024-09-26,1.17000000,1.24500000,1.17000000,1.20000000,1.20000000,5140
4,2024-09-27,1.21000000,1.24000000,1.20250000,1.22000000,1.22000000,3350
5,2024-09-30,1.24000000,1.24000000,1.17000000,1.17000000,1.17000000,2845
6,2024-10-01,1.17000000,1.20990000,1.10000000,1.10000000,1.10000000,8174
7,2024-10-02,1.20990000,1.20990000,1.08000000,1.11710000,1.11710000,5096
8,2024-10-03,1.09000000,1.20000000,1.06500000,1.09000000,1.09000000,40529
9,2024-10-04,1.11000000,1.16000000,1.11000000,1.16000000,1.16000000,1845
10,2024-10-07,1.15100000,1.15100000,1.10000000,1.13000000,1.13000000,4205
11,2024-10-08,1.15000000,1.20000000,1.08000000,1.08000000,1.08000000,5526
12,2024-10-09,1.18250000,1.18250000,0.94000000,1.05440000,1.05440000,42703
13,2024-10-10,1.06000000,1.10900000,1.05000000,1.07000000,1.07000000,4309
14,2024-10-11,1.06000000,1.08170000,1.04000000,1.07990000,1.07990000,12490
15,2024-10-14,1.11000000,2.66000000,1.11000000,2.49000000,2.49000000,21504439
16,2024-10-15,2.62000000,38.49000000,2.47000000,38.49000000,38.49000000,102757203
17,2024-10-16,27.63000000,36.00000000,21.50000000,28.80000000,28.80000000,13547950
18,2024-10-17,24.51000000,25.99990000,21.10000000,21.70000000,21.70000000,2680996
19,2024-10-18,34.60000000,79.02000000,34.00000000,47.21000000,47.21000000,27243119
20,2024-10-21,57.65000000,62.99000000,44.72000000,48.02000000,48.02000000,8983883
21,2024-10-22,42.50000000,50.00000000,41.42500000,47.17500000,47.17500000,2261575

In [27]:
from pprint import pprint

info = api.get_fundamentals_data(ticker=symbol)
# pprint(info)

In [33]:
from datetime import datetime as dt
from dateutil.relativedelta import relativedelta

start = dt.now() - relativedelta(dt.now(), days=7200)
start_unix = int(start.timestamp())
end_unix = int(dt.now().timestamp())

interval = '1h'

hist = api.get_intraday_historical_data(
    symbol=symbol,
    interval='1h',
    from_unix_time=start_unix,
    to_unix_time=end_unix,
)
hist = pd.DataFrame(hist).dropna()
hist

,timestamp,gmtoffset,datetime,open,high,low,close,volume
1,1636385400,0,2021-11-08 15:30:00,8.00000000,8.78999900,8.00000000,8.72000000,26091.00000000
2,1636389000,0,2021-11-08 16:30:00,8.61069900,8.69999900,8.60000000,8.67380000,14455.00000000
3,1636392600,0,2021-11-08 17:30:00,8.67500000,8.67500000,8.15999900,8.17000000,7459.00000000
4,1636396200,0,2021-11-08 18:30:00,8.19999900,8.25000000,8.15110000,8.17000000,5406.00000000
5,1636399800,0,2021-11-08 19:30:00,8.16359900,8.30000000,7.90000000,8.28999900,13762.00000000
...,...,...,...,...,...,...,...,...
5559,1729611000,0,2024-10-22 15:30:00,47.50999800,48.50000000,46.06999900,47.04999900,188814.00000000
5560,1729614600,0,2024-10-22 16:30:00,46.99160000,46.99160000,44.70000000,45.79999900,116103.00000000
5561,1729618200,0,2024-10-22 17:30:00,45.95999900,47.66999800,44.02000000,47.01010100,146276.00000000
5562,1729621800,0,2024-10-22 18:30:00,47.40999900,50.00000000,46.68999800,47.22999900,249483.00000000
5563,1729625400,0,2024-10-22 19:30:00,47.25000000,48.22000100,46.31999900,47.06999900,84171.00000000

In [43]:
# refund_1d_p: Number. The last day gain/loss in percent. Useful to get top gainers, losers for the past day.
# refund_5d_p: Number. The last 5 days gain/loss in percent. Useful to get top gainers, losers for the past week.
# avgvol_1d: Number. The last day volume.
# avgvol_200d: Number. The average last 200 days volume.

# Operations
# String Operations: [â€˜=â€™, â€˜matchâ€™]
# Numeric Operations: [â€˜=â€™, â€˜>â€™, â€˜<â€˜, â€˜>=â€™, â€˜<=â€™]

from eodhd import APIClient
import os

api_key = os.environ.get('EODHD_API_KEY')

api = APIClient(api_key)

filters = [
    ['exchange', '=', 'US'],
    ['refund_5d_p', '<', 100],
    ['refund_5d_p', '>=', 10],
    ['avgvol_1d', '>=', 1000000],
    ['avgvol_200d', '>=', 1000000],
    ['market_capitalization', '>=', 5000000000]
]

screener = api.stock_market_screener(
    filters=filters,
    sort='market_capitalization.desc',
    signals='wallstreet_lo',
)
screener = pd.DataFrame(screener['data'])
screener

,code,name,last_day_data_date,adjusted_close,refund_1d,refund_1d_p,refund_5d,refund_5d_p,exchange,currency_symbol,market_capitalization,earnings_share,dividend_yield,sector,industry,avgvol_1d,avgvol_200d
0,GM,General Motors Company,2024-10-22,53.73000000,4.80000000,9.81000000,5.88000000,12.29000000,US,$,60388220928,8.90000000,0.00980000,Consumer Cyclical,Auto Manufacturers,42657710,15119766.49000000
1,WPM,Wheaton Precious Metals Corp,2024-10-22,68.53000000,1.64000000,2.45000000,6.77000000,10.96000000,US,$,31183890432,1.26000000,0.00930000,Basic Materials,Gold,1393255,1763986.50000000
2,UAL,United Airlines Holdings Inc,2024-10-22,74.49000000,0.49000000,0.66000000,10.44000000,16.30000000,US,$,24497973248,8.39000000,NaN,Industrials,Airlines,6601935,8676501.17000000
3,GRAB,Grab Holdings Ltd,2024-10-22,4.16000000,0.13000000,3.23000000,0.55000000,15.24000000,US,$,16477759488,-0.05000000,NaN,Technology,Software - Application,68351700,23549112.83000000
4,AU,AngloGold Ashanti plc,2024-10-22,31.45000000,0.78000000,2.54000000,3.90000000,14.16000000,US,$,13226580992,0.27000000,0.01430000,Basic Materials,Gold,2320998,2001142.82000000
5,PAAS,Pan American Silver Corp.,2024-10-22,25.85000000,1.03000000,4.15000000,3.56000000,15.97000000,US,$,9407176704,-0.41000000,0.01610000,Basic Materials,Gold,5590559,4113588.45000000
6,VFS,VinFast Auto Ltd. Ordinary Shares,2024-10-22,4.23000000,0.46000000,12.20000000,0.40000000,10.44000000,US,$,8816899072,-1.07000000,NaN,Consumer Cyclical,Auto Manufacturers,3369526,1835723.28000000
7,ASTS,Ast Spacemobile Inc,2024-10-22,27.89000000,0.25000000,0.90000000,3.64000000,15.01000000,US,$,8775174144,-1.30000000,NaN,Technology,Communication Equipment,10984868,10709055.66000000
8,TAL,TAL Education Group,2024-10-22,11.39000000,0.35000000,3.17000000,1.27000000,12.55000000,US,$,6882783744,0.08000000,NaN,Consumer Defensive,Education & Training Services,10843185,7007818.72000000
9,MARA,Marathon Digital Holdings Inc,2024-10-22,18.97000000,0.26000000,1.39000000,2.05000000,12.12000000,US,$,5586190848,0.90000000,NaN,Financial Services,Capital Markets,31685216,52943038.08000000

In [39]:
ticker = 'CRDF.US'

ema20 = api.get_technical_indicator_data(
    ticker=ticker,
    function='ema',
    period=20,
    date_from=(dt.now() - relativedelta(years=1, days=20 * 2, leapdays=1)).strftime('%Y-%m-%d'),
)

ema100 = api.get_technical_indicator_data(
    ticker=ticker,
    function='ema',
    period=100,
    date_from=(dt.now() - relativedelta(years=1, days=100 * 2, leapdays=1)).strftime('%Y-%m-%d'),
)

ema9 = api.get_technical_indicator_data(
    ticker=ticker,
    function='ema',
    period=9,
    date_from=(dt.now() - relativedelta(years=1, days=9 * 2, leapdays=1)).strftime('%Y-%m-%d'),
)

atr100 = api.get_technical_indicator_data(
    ticker=ticker,
    function='atr',
    period=100,
    date_from=(dt.now() - relativedelta(years=1, days=100 * 2, leapdays=1)).strftime('%Y-%m-%d'),
)

# create single dataframe with all indicators with index of date
ema20 = pd.DataFrame(ema20).set_index('date')
ema100 = pd.DataFrame(ema100).set_index('date')
ema9 = pd.DataFrame(ema9).set_index('date')
atr100 = pd.DataFrame(atr100).set_index('date')

drop_dt = (dt.now() - relativedelta(years=1, leapdays=1))

ema20 = ema20[ema20.index >= drop_dt.strftime('%Y-%m-%d')]
ema100 = ema100[ema100.index >= drop_dt.strftime('%Y-%m-%d')]
ema9 = ema9[ema9.index >= drop_dt.strftime('%Y-%m-%d')]
atr100 = atr100[atr100.index >= drop_dt.strftime('%Y-%m-%d')]

# concat all dataframes
indicators = pd.concat([ema20, ema100, ema9, atr100], axis=1)
indicators.columns = ['ema20', 'ema100', 'ema9', 'atr100']

indicators['macdv'] = ((indicators['ema20'] - indicators['ema100']) / indicators['atr100']) * 100
indicators['macdv-signal'] = indicators['ema9']
indicators['macdv-histogram'] = indicators['macdv'] - indicators['ema9']

indicators = indicators[['macdv', 'macdv-signal', 'macdv-histogram']]
indicators

                   macdv  macdv-signal  macdv-histogram
date
2023-10-23 -216.06694561    1.11440000    -217.18134561
2023-10-24 -232.01680672    1.08350000    -233.10030672
2023-10-25 -242.31418919    1.07080000    -243.38498919
2023-10-26 -250.76400679    1.06260000    -251.82660679
2023-10-27 -256.35123615    1.06010000    -257.41133615
...                  ...           ...              ...
2024-10-17    0.27510316    2.68070000      -2.40559684
2024-10-18    9.70961887    2.72450000       6.98511887
2024-10-21   13.65698730    2.73360000      10.92338730
2024-10-22   18.56751825    2.74890000      15.81861825
2024-10-23   24.66819222    2.77110000      21.89709222

[253 rows x 3 columns]

In [42]:
month = (dt.now() - relativedelta(months=1)).strftime('%Y-%m-%d')
df = indicators[indicators.index >= month]
df

                  macdv  macdv-signal  macdv-histogram
date
2024-09-23 -73.79067722    2.52670000     -76.31737722
2024-09-24 -66.85815289    2.54540000     -69.40355289
2024-09-25 -58.24856258    2.57230000     -60.82086258
2024-09-26 -47.80876494    2.60980000     -50.41856494
2024-09-27 -38.29409151    2.64190000     -40.93599151
2024-09-30 -32.96312750    2.64750000     -35.61062750
2024-10-01 -34.78260870    2.61200000     -37.39460870
2024-10-02 -32.80000000    2.60560000     -35.40560000
2024-10-03 -32.72321429    2.59050000     -35.31371429
2024-10-04 -30.15659955    2.59240000     -32.74899955
2024-10-07 -25.37980340    2.60790000     -27.98770340
2024-10-08 -18.83408072    2.63430000     -21.46838072
2024-10-09 -20.36787797    2.61150000     -22.97937797
2024-10-10 -21.71762590    2.59320000     -24.31082590
2024-10-11 -19.17870036    2.60050000     -21.77920036
2024-10-14 -16.92377495    2.60640000     -19.53017495
2024-10-15 -13.49134002    2.61910000     -16.11044002
2024-10-16  -6.20155039    2.65330000      -8.85485039
2024-10-17   0.27510316    2.68070000      -2.40559684
2024-10-18   9.70961887    2.72450000       6.98511887
2024-10-21  13.65698730    2.73360000      10.92338730
2024-10-22  18.56751825    2.74890000      15.81861825
2024-10-23  24.66819222    2.77110000      21.89709222

In [2]:
import pandas as pd
from datetime import datetime as dt
from dateutil.relativedelta import relativedelta
from eodhd import APIClient
import os

api_key = os.environ.get('EODHD_API_KEY')

api = APIClient(api_key)

hist = api.get_intraday_historical_data(
    symbol='GM.US',
    interval='1h',
    from_unix_time=int((dt.now() - relativedelta(dt.now(), days=7200)).timestamp()),
    to_unix_time=int(dt.now().timestamp()),
)
hist = pd.DataFrame(hist).dropna()

# Open + High + Low + Close / 4
hist['ohlc4'] = (hist['open'] + hist['high'] + hist['low'] + hist['close']) / 4

# make new df with ohlc4 and datetime converted to date column with format YYYY-MM-DD
df = hist[['datetime', 'ohlc4']].copy()
df['datetime'] = pd.to_datetime(df['datetime']).dt.strftime('%Y-%m-%d')
df.set_index('datetime', inplace=True)

In [6]:
import talib
import numpy as np

# get ohlc4 as np array
ohlc4 = np.array(df['ohlc4'], dtype=float)

macd, signal, hist = talib.MACD(ohlc4, fastperiod=12, slowperiod=26, signalperiod=9)

rsi = talib.RSI(ohlc4, timeperiod=14)

print(macd, signal, hist)
print(rsi)

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

2.1.2